.cursor {
  /* background-color: black; */
  position: fixed;
  width: 30px;
  height: 30px;
  pointer-events: none;
  display: block;
  z-index: 10;
  overflow: visible;
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transform: ;
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
}
@media (max-width: 600px) {
  .cursor {
    display: none !important;
  }
  html {
    cursor: auto;
  }
}
.cursor::before {
  content: "";
  position: absolute;
  top: -14.5px;
  left: -15px;
  width: 100%;
  height: 100%;
  border: 1.6px var(--new-2);
  border-style: dotted;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: cercular 20s linear infinite;
  -webkit-animation: cercular 20s linear infinite;
}
@keyframes cercular {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.cursor::after {
  content: "";
  background-color: black;
  position: absolute;
  top: -0px;
  left: -0px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cursor.cursor-pointer {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
