/* --Start Colors--------------- */

.bg-ltest {
	background-color: var(--ltest1);
}
.--lter1 {
	background-color: var(--lter1);
}
.--m4 {
	background-color: var(--m4);
}

/* --End Colors--------------- */

/* --Start Spaces--------------- */
.pd-b-1 {
	padding-block: 1rem;
}
.pd-b-2 {
	padding-block: 2rem;
}
.pd-b-3 {
	padding-block: 3rem;
}
.pd-b-4 {
	padding-block: 4rem;
}
.pd-b-5 {
	padding-block: 5rem;
}
.pd-b-6 {
	padding-block: var(--section-padding);
}
.pd-btm-1 {
	padding-bottom: 1rem;
}
.pd-btm-2 {
	padding-bottom: 2rem;
}
.pd-btm-3 {
	padding-bottom: 3rem;
}
.pd-btm-4 {
	padding-bottom: 4rem;
}
.pd-btm-5 {
	padding-bottom: 5rem;
}
.pd-btm-6 {
	padding-bottom: var(--section-padding);
}
.pd-top-1 {
	padding-top: 1rem;
}
.pd-top-2 {
	padding-top: 2rem;
}
.pd-top-3 {
	padding-top: 3rem;
}
.pd-top-4 {
	padding-top: 4rem;
}
.pd-top-5 {
	padding-top: 5rem;
}
.pd-top-6 {
	padding-top: var(--section-padding);
}
.pd-left-1 {
	padding-left: 1rem;
}
.pd-left-2 {
	padding-left: 2rem;
}
.pd-left-3 {
	padding-left: 3rem;
}
.pd-left-4 {
	padding-left: 4rem;
}
.pd-left-5 {
	padding-left: 5rem;
}
.pd-left-6 {
	padding-left: var(--section-padding);
}
.pd-right-1 {
	padding-right: 1rem;
}
.pd-right-2 {
	padding-right: 2rem;
}
.pd-right-3 {
	padding-right: 3rem;
}
.pd-right-4 {
	padding-right: 4rem;
}
.pd-right-5 {
	padding-right: 5rem;
}
.pd-right-6 {
	padding-right: var(--section-padding);
}
.pd-1 {
	padding: 1rem;
}
.pd-2 {
	padding: 2rem;
}
.pd-3 {
	padding: 3rem;
}
.pd-4 {
	padding: 4rem;
}
.pd-5 {
	padding: 5rem;
}
.pd-6 {
	padding: var(--section-padding);
}
.gap-05-rem {
	gap: 0.5rem;
}
.gap-1-rem {
	gap: 1rem;
}
.gap-2-rem {
	gap: 2rem;
}
.gap-3-rem {
	gap: 3rem;
}
.m-l-r {
	margin-inline: auto;
}

/* --End Spaces--------------- */

/* --Start Structure--------------- */
.none {
	display: none;
}
.grid {
	display: grid;
}
.grid-t-c {
	grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
}
@media (max-width: 767px) {
	.grid-t-c {
		grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
	}
}
.flex {
	display: flex;
}
.flex-d-r {
	flex-direction: row;
}
.flex-d-c {
	flex-direction: column;
}
.j-c-i {
	justify-content: initial;
}
.j-c-bt {
	justify-content: space-between;
}
.j-c-c {
	justify-content: center;
}
.align-items-s {
	align-items: flex-start;
}
.align-items-e {
	align-items: flex-end;
}
.align-items-c {
	align-items: center;
}

/* --End Structure--------------- */
