@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Montserrat/static/Montserrat-Thin.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Montserrat/static/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Montserrat/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Montserrat/static/Montserrat-Black.ttf);
} */

/* Start Reset Page */

html {
  scroll-behavior: smooth;
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--font) !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
span {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* End Reset Page */

:root {
  --n-bg: #151f32;
  --n-bg-light: #1a253ba1;
  --short-link-color: #12233a;
  --topic-link-color: #16273f;
  --topic-link-important: #203759;
  --topic-link-color-hover: #182d4b;
  --box-color: linear-gradient(
    50deg,
    var(--topic-link-important) 0%,
    var(--topic-link-important),
    var(--n-bg-light)
  );
  --box-color-red: linear-gradient(180deg, #f44881, #ec454f);
  --icon-color: #395172;
  --font: #fff;
  --m1: #202040;
  --m2: #543864;
  --m3: #ff6363;
  --m4: #ffbd69;
  --l1: #6f6f9b;
  --l2: #a581b9;
  --l3: #ff9797;
  --l4: #ffd8a6;
  --h1: #d0d0ff;
  --h2: #eed0ff;
  --h3: #ffcece;
  --h4: #ffe8ca;
  --lter1: hsla(240, 18%, 52%, 0.4);
  --lter2: hsla(278, 28%, 31%, 0.4);
  --lter3: hsla(0, 100%, 69%, 0.4);
  --lter4: hsla(34, 100%, 71%, 0.4);
  --ltest1: hsla(240, 18%, 52%, 0.05);
  --box-title-font-color: #7373ad;
  --light-mode: #fff3e5;
  --hero-title-laptop: 6rem;
  --hero-title-phone: 3rem;
  --hero-text-laptop: 1.8rem;
  --hero-text-phone: 1.6rem;
  --section-title-laptop: 4.5rem;
  --section-title-phone: 2.8rem;
  --box-title-laptop: 2.2rem;
  --box-title-phone: 1.6rem;
  --box-text-laptop: 1.8rem;
  --box-text-phone: 1.4rem;
  --box-link-laptop: 1.6rem;
  --box-link-phone: 1.2rem;
  --section-padding: 6rem;
  --title-padding: 5rem;
  --large-radius: 1rem;
  --small-radius: 0.5rem;
  --tran-1: 1s;
  --tran-2: 0.5s;
  --tran-3: 0.25s;
  --tran-4: 0.15s;
}

::selection {
  background-color: var(--lter3);
  color: var(--m4);
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  /* background-image: url(../imgs/bg/4.jpg); */
  width: 10px;
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--ltest1);
  border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--n-bg); /* --m1 */
}
.container {
  padding-inline: 2rem;
  margin-inline: auto;
}

/*--------Start @medias----------*/
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*--------End @medias----------*/

/* Start Components */

.up {
  color: var(--m3);
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  opacity: 0;
  z-index: -1;
  display: flex;
  transition: var(--tran-4);
  -webkit-transition: var(--tran-4);
  -moz-transition: var(--tran-4);
  -ms-transition: var(--tran-4);
  -o-transition: var(--tran-4);
  padding: 0.1rem;
}
.up img {
  width: 3rem;
}

.section-title {
  padding-bottom: var(--title-padding);
  position: relative;
  text-align: initial;
}
.section-title h2 {
  color: var(--h1);
  font-size: clamp(
    var(--section-title-phone),
    4vw,
    var(--section-title-laptop)
  );
}
.technologies div {
  background-color: var(--m1);
  padding: 0px 5px;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
}
.technologies .tech span {
  color: var(--m3);
}
.btn-box {
  background-color: #e0a04d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  width: fit-content;
}
.btn-box a {
  background-color: #fab760;
  color: var(--m1);
  padding: 0.8rem;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  font-size: clamp(var(--box-link-phone), 2vw, var(--box-link-laptop));
  font-weight: 500;
  transition: var(--tran-4);
  -webkit-transition: var(--tran-4);
  -moz-transition: var(--tran-4);
  -ms-transition: var(--tran-4);
  -o-transition: var(--tran-4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translatey(-4px);
  -webkit-transform: translatey(-4px);
  -moz-transform: translatey(-4px);
  -ms-transform: translatey(-4px);
  -o-transform: translatey(-4px);
}
.btn-box:hover a {
  transform: translatey(0px);
  -webkit-transform: translatey(0px);
  -moz-transform: translatey(0px);
  -ms-transform: translatey(0px);
  -o-transform: translatey(0px);
  box-shadow: -1px 1px 3px #9e713528;
}
.more {
  background-image: linear-gradient(
    0deg,
    var(--n-bg),
    var(--n-bg) 50%,
    transparent
  );
  width: 100%;
  padding: 100px 0 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.more .btn-box {
  width: fit-content;
  margin: 0 auto;
}
.more .btn-box a {
  padding-inline: 50px;
}

/* End Components */

/* Start Header */

header {
  padding-block: 2rem;
}
header .container span {
  font-size: 3rem;
  background-color: var(--ltest1);
  color: var(--m3);
  border: 1px solid var(--m4);
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  font-weight: 100;
  transition: var(--tran-4);
  -webkit-transition: var(--tran-4);
  -moz-transition: var(--tran-4);
  -ms-transition: var(--tran-4);
  -o-transition: var(--tran-4);
}
header .container span:hover {
  background-color: var(--lter3);
}
header .container a .back {
  width: 3rem;
}
/* End Header */

/* Start Nav */

nav {
  /*background-color: white;
  */
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 105%);
  -webkit-transform: translate(-50%, 105%);
  -moz-transform: translate(-50%, 105%);
  -ms-transform: translate(-50%, 105%);
  -o-transform: translate(-50%, 105%);
  inline-size: 40vw;
  transition: var(--tran-4);
  -webkit-transition: var(--tran-4);
  -moz-transition: var(--tran-4);
  -ms-transition: var(--tran-4);
  -o-transition: var(--tran-4);
  z-index: 2;
}
.nav-active {
  bottom: 1.5rem;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}

@media (max-width: 767px) {
  nav {
    inline-size: 100%;
  }
}
nav .overly {
  opacity: 0;
  transition: var(--tran-3) opacity;
  -webkit-transition: var(--tran-3) opacity;
  -moz-transition: var(--tran-3) opacity;
  -ms-transition: var(--tran-3) opacity;
  -o-transition: var(--tran-3) opacity;
}
nav .overly-active {
  position: absolute;
  top: 50%;
  left: 50%;
  /* background-color: var(--lter1); */
  background-color: var(--n-bg-light);
  width: 100vw;
  height: 170vh;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  filter: blur(0);
  -webkit-filter: blur(0);
  backdrop-filter: blur(0.5rem);
  opacity: 1;
}

nav .container {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

nav .container .icon {
  position: absolute;
  top: -5rem;
  cursor: pointer;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
nav .container .icon img {
  width: 70px;
}
nav .container ul {
  inline-size: 100%;
  border-radius: var(--large-radius);
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
}
nav .container ul li {
  /* background-color: var(--lter1); */
  /* background-color: var(--topic-link-color); */
  inline-size: 100%;
  position: relative;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  transition: var(--tran-4) background-color;
  -webkit-transition: var(--tran-4) background-color;
  -moz-transition: var(--tran-4) background-color;
  -ms-transition: var(--tran-4) background-color;
  -o-transition: var(--tran-4) background-color;
}
nav .container ul li:hover {
  background-color: var(--m4);
}

nav .container ul li a {
  color: var(--font);
  inline-size: 100%;
  text-align: center;
  display: inline-block;
  font-size: clamp(var(--box-link-phone), 2vw, var(--box-link-laptop));
  font-weight: 400;
  padding-block: 3rem;
  z-index: 22;
}
nav .container ul li:hover a {
  color: var(--m1);
}
/* End Nav */

/* Start Main Landing */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  position: relative;
}
@media (max-width: 767px) {
  main {
    block-size: 100vh;
  }
}
main > img {
  position: absolute;
  max-block-size: calc(50vh - 0rem);
  top: 50%;
  left: 50%;
  opacity: 0.05;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
main .container {
  max-inline-size: 80rem;
}
@media (max-width: 767px) {
  main .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
main .container .image {
  /* display: flex; */
  max-inline-size: 20rem;
  border-radius: var(--large-radius);
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  /* box-shadow: -0.5rem 0.5rem 0rem var(--m4); */
  overflow: hidden;
}
main .container .image img {
  max-inline-size: 100%;
}
main .container .hero-box {
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  position: relative;
  z-index: 1;
  padding-inline: 2rem;
}
main .container .hero-box::before {
  content: "";
  position: absolute;
  top: -3rem;
  left: -0rem;
  background-image: url("../imgs/icons/qouat.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.5;
  transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  -ms-transform: rotate(200deg);
  -o-transform: rotate(200deg);
  animation: 2s shake-top infinite;
  -webkit-animation: 2s shake-top infinite;
}
main .container .hero-box::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  right: -0rem;
  background-image: url("../imgs/icons/qouat.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.5;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  animation: 2s shake-bottom infinite;
  -webkit-animation: 2s shake-bottom infinite;
}
main .container .hero-box h1 {
  color: var(--h1);
  font-size: clamp(var(--hero-title-phone), 6vw, var(--hero-title-laptop));
  text-shadow: -0.2rem 0.2rem 0.1rem var(--lter1);
}
main .container .hero-box p {
  color: var(--h2);
  font-size: clamp(var(--hero-text-phone), 2vw, var(--hero-text-laptop));
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 200;
}

/* End Main Landing */

/* Start Skills */

section {
  inline-size: 100%;
}
section .container .skills-title {
  position: relative;
}
section .container .skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  row-gap: 2rem;
  position: relative;
}
section .container .skills::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: var(--lter1);
  inline-size: 0.1rem;
  block-size: calc(100% - 6rem);
}

/* End Skills */

/*Start Article */

article {
  position: relative;
}

/*End Article */
/* Start Work Space */

.work-space {
  /* block-size: 100vh; */
  /* inline-size: 100%; */
  padding-block: var(--section-padding);
}
.work-space .container .works .work {
  border-radius: var(--large-radius);
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  overflow: hidden;
  position: relative;
}
.work-space .container .works .work::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  inline-size: 100%;
  block-size: 100%;
  background-color: transparent;
  z-index: 1;
  backdrop-filter: blur(0.2rem);
  transition: var(--tran-2) opacity linear;
  -webkit-transition: var(--tran-2) opacity linear;
  -moz-transition: var(--tran-2) opacity linear;
  -ms-transition: var(--tran-2) opacity linear;
  -o-transition: var(--tran-2) opacity linear;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.work-space .container .works .work:hover::before {
  opacity: 0;
  z-index: -1;
  backdrop-filter: blur(0);
}
.work-space .container .works .work img {
  width: 100%;
  display: flex;
  transition: var(--tran-2);
  -webkit-transition: var(--tran-2);
  -moz-transition: var(--tran-2);
  -ms-transition: var(--tran-2);
  -o-transition: var(--tran-2);
}
.work-space .container .works .work:hover img {
  transform: scale(1.02) rotate(0.2deg);
  -webkit-transform: scale(1.02) rotate(0.2deg);
  -moz-transform: scale(1.02) rotate(0.2deg);
  -ms-transform: scale(1.02) rotate(0.2deg);
  -o-transform: scale(1.02) rotate(0.2deg);
}

.work-space .container .works .work .box-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  /* background-image: linear-gradient(-30deg, var(--l2), var(--l2) 5%, var(--h2)); */
  background-image: linear-gradient(
    -30deg,
    var(--icon-color),
    var(--icon-color) 5%,
    var(--topic-link-important)
  );
  width: 100%;
  transition: var(--tran-2);
  -webkit-transition: var(--tran-2);
  -moz-transition: var(--tran-2);
  -ms-transition: var(--tran-2);
  -o-transition: var(--tran-2);
  z-index: 1;
}
.work-space .container .works .work:hover .box-text {
  /* width: 100%; */
}
.work-space .container .works .work .box-text a {
  /*color: var(--m2);
  */
  color: var(--font);
  font-size: clamp(var(--box-link-phone), 2vw, var(--box-link-laptop));
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-weight: 300;
  transition: var(--tran-3);
  -webkit-transition: var(--tran-3);
  -moz-transition: var(--tran-3);
  -ms-transition: var(--tran-3);
  -o-transition: var(--tran-3);
}
.work-space .container .works .work .box-text:hover a {
  color: var(--m4);
  letter-spacing: 0.5px;
}

/* End Work Space */

/* Start Skills */

.skill {
  padding: 1.2rem;
  border-radius: var(--large-radius);
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  position: relative;
}
.skill::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: var(--m4);
  inline-size: 1rem;
  block-size: 1rem;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
}
.skill h4 {
  color: var(--h1);
  font-size: clamp(var(--box-title-phone), 2vw, var(--box-title-laptop));
  font-weight: 500;
  flex: 1;
}
.skill .progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.skill .progress span {
  color: var(--m4);
  font-size: 4rem;
  font-weight: 100;
}
.skill .progress img {
  width: 30px;
}
.progressing {
  animation: rotate 5s linear infinite;
  -webkit-animation: rotate 5s linear infinite;
}
.done {
  /* transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg); */
}
.pin {
  /* transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg); */
}
.skill .progress a:first-of-type img {
  display: flex;
}

/* End Skills */

/* Start Study Sources */

.stdy-srcs .container .stdys {
  /* background-color: var(--n-bg-light); */
  padding: 2rem;
  border-radius: var(--large-radius);
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
}
@media (max-width: 767px) {
  .stdy-srcs .container .stdys {
    padding: 1rem;
  }
}
.stdy > img {
  width: 9rem;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
}
.stdy {
  border-radius: var(--large-radius);
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  padding: 1rem;
  box-shadow: -40px 40px 50px inset var(--n-bg-light);
}

.stdy .stdy-brief-content {
  flex: 1;
}
.stdy .stdy-brief-content h4 {
  color: var(--h1);
  font-size: clamp(var(--box-title-phone), 2vw, var(--box-title-laptop));
  font-weight: 500;
}
.stdy .btn-box img {
  display: flex;
  width: 2rem;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
}

/* End Study Sources */

/* Start Articles */

.article {
  border-radius: var(--large-radius);
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  gap: 0.8rem;
}

.article .article-box-title h4 {
  color: var(--h1);
  font-size: clamp(var(--box-title-phone), 2vw, var(--box-title-laptop));
  font-weight: 500;
}
.article .article-box-title {
  /* padding: 0.5rem; */
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
}
.article .article-brief-content {
  color: var(--h2);
  font-size: clamp(var(--box-text-phone), 2vw, var(--box-text-laptop));
  font-weight: 200;
  /* padding: 1.2rem; */
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
}
.article p.article-brief {
  color: var(--h2);
  font-size: clamp(var(--box-text-phone), 2vw, var(--box-text-laptop));
  font-weight: 200;
  margin-bottom: 0.8rem;
}
.article .article-links div {
  /* background-color: var(--m3); */
  display: flex;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
}

/* End Articles */

/* Start Contact */
.contact .container {
  height: 100%;
}
.contact .section-title {
  text-align: center;
}
.contact .container .contacts {
  height: 100%;
}
.contact .container .contact-icon {
  max-width: 100px;
  transition: var(--tran-3);
  -webkit-transition: var(--tran-3);
  -moz-transition: var(--tran-3);
  -ms-transition: var(--tran-3);
  -o-transition: var(--tran-3);
}
.contact .container .contact-icon:hover {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
.contact .container .contact-icon img {
  max-width: 100%;
  animation: shake 1.5s linear infinite;
  -webkit-animation: shake 1.5s linear infinite;
}

/* End Contact */

/* Start Footer */

footer {
  padding-block: 1rem;
}
footer h6 {
  color: var(--h1);
  font-size: 1.5rem;
  font-weight: 300;
}
footer a {
  color: var(--m4);
  font-size: 2rem;
  font-weight: 600;
}

/* End Footer */

/* Start Keyframes */

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes nav {
  50% {
    background-color: var(--m3);
  }
}
@keyframes shake-top {
  50% {
    transform: rotate(210deg);
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -o-transform: rotate(210deg);
  }
}
@keyframes shake-bottom {
  50% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    color: rgb(208, 208, 255);
  }
}

/* End Keyframes */
