:root {
	--main-1: #202040;
	--main-2: #543864;
	--main-3: #ff6363;
	--main-4: #ffbd69;
	--main-light-1: #6f6f9b;
	--main-light-2: #a581b9;
	--main-light-3: #ff9797;
	--main-light-4: #ffd8a6;
	--h1: #d0d0ff;
	--h2: #eed0ff;
	--h3: #ffcece;
	--h4: #ffe8ca;
	--main-lighter-1: hsla(240, 18%, 52%, 0.4);
	--main-lighter-2: hsla(278, 28%, 31%, 0.4);
	--main-lighter-3: hsla(0, 100%, 69%, 0.4);
	--main-lighter-4: hsla(34, 100%, 71%, 0.4);
	--box-title-font-color: #7373ad;
	--light-mode: #fff3e5;
	--hero-title-laptop: 6rem;
	--hero-title-phone: 3rem;
	--hero-text-laptop: 1.8rem;
	--hero-text-phone: 1.6rem;
	--section-title-laptop: 4.5rem;
	--section-title-phone: 3rem;
	--box-title-laptop: 2rem;
	--box-title-phone: 1.6rem;
	--box-text-laptop: 1.6rem;
	--box-text-phone: 1.5rem;
	--box-link-laptop: 1.8rem;
	--box-link-phone: 1.5rem;
	--section-padding: 6rem;
	--title-padding: 3rem;
	--large-radius: 10px;
	--small-radius: 5px;
	--tran-1: 1s;
	--tran-2: 0.5s;
	--tran-3: 0.25s;
	--tran-4: 0.15s;
}
::selection {
	background-color: var(--main-lighter-2);
}
body {
	background-color: var(--main-1);
	font-family: "Montserrat", sans-serif;
}
.container {
	padding-inline: 1.5rem;
	margin-inline: auto;
}

/* Start Header */

header {
	padding-block: 2rem;
	block-size: 11rem;
}
@media (max-width: 767px) {
	header {
		block-size: 9rem;
	}
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .container img {
	inline-size: 7rem;
}
@media (max-width: 767px) {
	header .container img {
		inline-size: 5rem;
	}
}
header .container .cnt-btn {
	background-color: var(--main-3);
	display: flex;
	border-radius: var(--small-radius);
	-webkit-border-radius: var(--small-radius);
	-moz-border-radius: var(--small-radius);
	-ms-border-radius: var(--small-radius);
	-o-border-radius: var(--small-radius);
}
header .container a {
	background-color: var(--main-4);
	color: var(--main-1);
	display: inline-block;
	padding: 1rem 3rem;
	font-size: clamp(var(--box-link-phone), 2vw, var(--box-link-laptop));
	font-weight: 400;
	border-radius: var(--small-radius);
	-webkit-border-radius: var(--small-radius);
	-moz-border-radius: var(--small-radius);
	-ms-border-radius: var(--small-radius);
	-o-border-radius: var(--small-radius);
	position: relative;
	overflow: hidden;
	transition: var(--tran-4);
	-webkit-transition: var(--tran-4);
	-moz-transition: var(--tran-4);
	-ms-transition: var(--tran-4);
	-o-transition: var(--tran-4);
}
@media (max-width: 767px) {
	header .container a {
		padding: 1rem 2rem;
	}
}
header .container .cnt-btn:hover a {
	/*box-shadow: -3px 3px 0px var(--main-3);
  */
	transform: translate(3px, -3px);
	-webkit-transform: translate(3px, -3px);
	-moz-transform: translate(3px, -3px);
	-ms-transform: translate(3px, -3px);
	-o-transform: translate(3px, -3px);
}

/* End Header */

/* Start Nav */

nav {
	/*background-color: white;
  */
	position: fixed;
	bottom: 0.1rem;
	left: 50%;
	transform: translate(-50%, 105%);
	-webkit-transform: translate(-50%, 105%);
	-moz-transform: translate(-50%, 105%);
	-ms-transform: translate(-50%, 105%);
	-o-transform: translate(-50%, 105%);
	inline-size: 40vw;
	transition: var(--tran-4);
	-webkit-transition: var(--tran-4);
	-moz-transition: var(--tran-4);
	-ms-transition: var(--tran-4);
	-o-transition: var(--tran-4);
}
.nav-active {
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
}
@media (max-width: 767px) {
	nav {
		inline-size: calc(100% + 20px);
	}
}
nav .container {
	inline-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	position: relative;
}

nav .container .icon {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	top: -5rem;
}
nav .container .displayInitial {
	display: initial;
}
nav .container .displayInitial span:first-of-type {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	top: 0.2rem;
}
nav .container .displayInitial span:last-of-type {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	position: relative;
}
nav .container .icon span:first-of-type {
	background-color: var(--main-3);
}
nav .container .icon span:last-of-type {
	background-color: var(--main-4);
}
nav .container .icon span {
	display: block;
	inline-size: 4rem;
	height: 0.2rem;
}
nav .container ul {
	background-color: var(--main-1);
	inline-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	/* padding: 0 10px; */
	border-radius: var(--large-radius);
	-webkit-border-radius: var(--large-radius);
	-moz-border-radius: var(--large-radius);
	-ms-border-radius: var(--large-radius);
	-o-border-radius: var(--large-radius);
}
nav .container ul li {
	background-color: var(--main-lighter-2);
	inline-size: 100%;
	position: relative;
	border-radius: var(--small-radius);
	-webkit-border-radius: var(--small-radius);
	-moz-border-radius: var(--small-radius);
	-ms-border-radius: var(--small-radius);
	-o-border-radius: var(--small-radius);
	transition: var(--tran-4) background-color;
	-webkit-transition: var(--tran-4) background-color;
	-moz-transition: var(--tran-4) background-color;
	-ms-transition: var(--tran-4) background-color;
	-o-transition: var(--tran-4) background-color;
}
nav .container ul li:hover {
	background-color: var(--main-4);
}
nav .container ul li:hover a {
	/* text-decoration: underline; */
	color: var(--main-1);
}
nav .container ul li a {
	color: var(--h1);
	inline-size: 100%;
	text-align: center;
	display: inline-block;
	font-size: clamp(var(--box-link-phone), 2vw, var(--box-link-laptop));
	font-weight: 400;
	padding: 15px;
	z-index: 22;
}

/* End Nav */

/* Start Main Landing */

main {
	display: flex;
	justify-content: center;
	align-items: center;
	block-size: calc(100vh - 11rem);
}
@media (max-width: 767px) {
	main {
		block-size: calc(100vh - 9rem);
	}
}
main .container {
	max-inline-size: 90rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 2rem;
}
@media (max-width: 767px) {
	main .container {
		flex-direction: column;
		align-items: flex-start;
	}
}
main .container .image {
	display: flex;
	max-inline-size: 20rem;
	border-radius: var(--large-radius);
	-webkit-border-radius: var(--large-radius);
	-moz-border-radius: var(--large-radius);
	-ms-border-radius: var(--large-radius);
	-o-border-radius: var(--large-radius);
	box-shadow: -0.5rem 0.5rem 0rem var(--main-4);
	overflow: hidden;
}
main .container .image img {
	max-inline-size: 100%;
}
main .container .hero-box {
	margin-top: 2rem;
}
main .container .hero-box h1 {
	color: var(--h1);
	font-size: clamp(var(--hero-title-phone), 6vw, var(--hero-title-laptop));
	text-shadow: -2px 2px 0px var(--main-lighter-2);
}
main .container .hero-box p {
	color: var(--h2);
	font-size: clamp(var(--hero-text-phone), 2vw, var(--hero-text-laptop));
	margin-top: 1rem;
	line-height: 1.5;
}

/* End Main Landing */

/* Start Skills */

section {
	/* block-size: 100vh; */
	inline-size: 100%;
	padding-block: var(--section-padding);
}
section .container {
	text-align: center;
}
section .container .section-title {
	padding-bottom: var(--title-padding);
}
section .container .section-title h2 {
	color: var(--h1);
	font-size: clamp(
		var(--section-title-phone),
		4vw,
		var(--section-title-laptop)
	);
}
section .container .skills {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	gap: 2rem;
}
section .container .skills .skill {
	background-color: var(--main-lighter-2);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: var(--large-radius);
	-webkit-border-radius: var(--large-radius);
	-moz-border-radius: var(--large-radius);
	-ms-border-radius: var(--large-radius);
	-o-border-radius: var(--large-radius);
	gap: 2rem;
}
@media (max-width: 767px) {
	section .container .skills .skill {
		flex-direction: row;
		justify-content: space-between;
	}
}
section .container .skills .skill .skill-name {
	color: var(--h1);
	font-size: clamp(var(--box-title-phone), 2vw, var(--box-title-laptop));
	font-weight: 700;
	/* margin-bottom: 1.5rem; */
}
@media (max-width: 767px) {
	section .container .skills .skill .skill-name {
		/* margin-bottom: 0; */
	}
}
section .container .skills .skill .progress {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
section .container .skills .skill .progress a:first-of-type {
}
section .container .skills .skill .progress a:first-of-type img {
}
section .container .skills .skill .progress .src-btn {
	background-color: var(--main-3);
	display: flex;
	border-radius: var(--small-radius);
	-webkit-border-radius: var(--small-radius);
	-moz-border-radius: var(--small-radius);
	-ms-border-radius: var(--small-radius);
	-o-border-radius: var(--small-radius);
}
section .container .skills .skill .progress .src-btn a {
	background-color: var(--main-4);
	color: var(--main-1);
	padding: 1rem 2rem;
	border-radius: var(--small-radius);
	-webkit-border-radius: var(--small-radius);
	-moz-border-radius: var(--small-radius);
	-ms-border-radius: var(--small-radius);
	-o-border-radius: var(--small-radius);
	font-size: clamp(var(--box-text-phone), 2vw, var(--box-text-laptop));
	font-weight: 400;
	transition: var(--tran-4);
	-webkit-transition: var(--tran-4);
	-moz-transition: var(--tran-4);
	-ms-transition: var(--tran-4);
	-o-transition: var(--tran-4);
}
section .container .skills .skill .progress .src-btn:hover a {
	transform: translate(3px, -3px);
	-webkit-transform: translate(3px, -3px);
	-moz-transform: translate(3px, -3px);
	-ms-transform: translate(3px, -3px);
	-o-transform: translate(3px, -3px);
}

/* End Skills */
